xfce4
GIMP
JetBrains
Thunar
astro
containers
dconf
*next*
fuzzel
ghostty
go
gtk-3.0
heroic
jgit
lxqt
menus
modorganizer*
pulse
pypoetry
unity3d
secrets.fish
com.strapi
autostart
copyq
Code
flutter
git
turborepo
ueberzugpp
xarchiver
QtProject.conf
mimeapps.list
pavucontrol.ini
user-dirs.dirs
user-dirs.locale
xdg-terminals.list
swaylock
